<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_FeiSpecialPricing::requests"
             title="Special Pricing Requests"
             translate="title"
             module="Aheadworks_FeiSpecialPricing"
             sortOrder="6"
             parent="Magento_Customer::customer"
             action="aw_fei_sp_admin/request/index"
             resource="Aheadworks_FeiSpecialPricing::requests"/>
    </menu>
</config>
