<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="aw_fei_special_pricing" translate="label" type="text" sortOrder="200"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FEI Special Pricing</label>
            <tab>customer</tab>
            <resource>Aheadworks_FeiSpecialPricing::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="default_expiration_days" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Validity of Approved Prices (days)</label>
                    <comment>Used when FEI approves a request without an explicit expiration date.</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Notifications</label>
                <field id="fei_recipients" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>FEI Approver Emails</label>
                    <comment>Comma-separated. These addresses receive new special pricing requests.</comment>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="new_request_template" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Request Template (to FEI)</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="approved_template" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Request Approved Template (to customer)</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="rejected_template" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Request Rejected Template (to customer)</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
